@{
    Layout = "~/Views/Shared/_Layout-Normal.cshtml";
    ViewBag.Title = "Creation";
}

<section class="creation-video">
    <div class="video-container">
        <div class="video-rectangle">
            <video controls="">
                <source src="~/Content/videos/「この星の空に、最後の軌跡を」.mp4" />
            </video>
        </div>
        <div class="video-info">
            <div class="video-info-background">
                <span>——「この星の空に、最後の軌跡を」by 葉月</span>
                <div class="video-info-button">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus"></i>
                </div>
            </div>
        </div>
    </div>
</section>

