@{
    Layout = "~/Views/Shared/_Layout-Index.cshtml";
    ViewBag.Title = "Home Page";
}


<section>
    <div class="hall">
        <img src="~/Content/imgs/index/hall-sion.png" class="hall-sion" />
        <img src="~/Content/imgs/index/hall-sion-glow.png" class="hall-sion-glow" />
        <img src="~/Content/imgs/index/hall-sion-shadow.png" class="hall-sion-shadow" />
        <img src="~/Content/imgs/index/hall-text1.png" class="hall-text1" />
        <img src="~/Content/imgs/index/hall-text2.png" class="hall-text2" />
        <img src="~/Content/imgs/index/hall-bg.png" class="hall-bg" />
        <img src="~/Content/imgs/index/hall-buliding.png" class="hall-buliding" />
    </div>
</section>
<section>
    <div class="math">
        <img src="~/Content/imgs/index/math-bg.png" class="math-bg" />
        <img src="~/Content/imgs/index/math-text3.png" class="math-text3" />
    </div>
</section>
<section>
    <div class="hope">
        <img src="~/Content/imgs/index/hope-bg.png" class="hope-bg" />
        <img src="~/Content/imgs/index/hope-text4.png" class="hope-text4" />
    </div>
</section>
<section>
    <div class="cage">
        <img src="~/Content/imgs/index/cage-bg.png" class="cage-bg" />
        <img src="~/Content/imgs/index/cage-text5.png" class="cage-text5" />
    </div>
</section>
<section>
    <div class="garden">
        <img src="~/Content/imgs/index/garden-door1.png" class="garden-door1 garden-doors" />
        <img src="~/Content/imgs/index/garden-door2.png" class="garden-door2 garden-doors" />
        <img src="~/Content/imgs/index/garden-door3.png" class="garden-door3 garden-doors" />
        <img src="~/Content/imgs/index/garden-door4.png" class="garden-door4 garden-doors" />
        <img src="~/Content/imgs/index/garden-bg.png" class="garden-bg" />
        <img src="~/Content/imgs/index/garden-text6.png" class="garden-text6" />
        <img src="~/Content/imgs/index/garden-text7.png" class="garden-text7" />
    </div>
</section>
<section>
    <div class="final">
        <!--<img src="~/Content/imgs/index/final-bg.png" class="final-bg" />-->
        <video autoplay="" loop="" class="final-bg">
            <source src="~/Content/videos/final-bg.mp4" type="video/mp4" />
        </video>
        <img src="~/Content/imgs/index/final-text8.png" class="final-text8" />
    </div>
</section>

